h1 {
    text-align: center;
    text-decoration: sienna;
    text-transform: capitalize;
}

a:link
{
text-decoration:none;
} 

li {
    text-align: center;
    border-radius: 25px;
    background-color: rgb(26, 236, 26);
    border: 2px solid rgb(26, 156, 189);
    padding: 20px; 
    width: 25%;
    height: 25%;
}

li:hover {
    text-align: center;
    border-radius: 25px;
    background-color: rgb(14, 158, 14);
    border: 2px solid rgb(13, 106, 129);
    padding: 20px; 
    width: 28%;
    height: 28%;
}

#cordoba {
    text-align: center;
    border-radius: 25px;
    background-color: rgb(185, 108, 19);
    border-bottom: 2px solid rgb(219, 241, 18);
    padding: 20px; 
    width: 25%;
    height: 25%;
    text-decoration: none;
}

body {
    background-color: lightgrey;
}
